In [ ]:
import pandas as pd

penguins = pd.read_csv("../data\penguins_classification.csv")

In [ ]:

penguins.head()

   Culmen Length (mm)  Culmen Depth (mm) Species
0                39.1               18.7  Adelie
1                39.5               17.4  Adelie
2                40.3               18.0  Adelie
3                36.7               19.3  Adelie
4                39.3               20.6  Adelie

In [1]:
features = [
    'Culmen Length (mm)',
    'Culmen Depth (mm)'
]
target = 'Species'